@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "@fortawesome/fontawesome-free/css/all.css";

$odd: rgb(14, 14, 14);
$even: rgb(243, 244, 244);
$dark-gray: rgb(30, 30, 30);
$light-gray: #bac5c6;
$darker-gray: rgb(227, 229, 229);
$lighter-gray: #f3f4f4;
$arrow-color: #656f77;

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, .9);

    .close {
        color: #fff;
        position: absolute;
        top: 10px;
        right: 25px;
        font-size: 35px;
        font-weight: bold;
        cursor: pointer;
    }

    .modal-content {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 90%;

        img {
            max-width: 100%;
            max-height: 100%;
            text-align: center;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, -apple-system, system-ui, sans-serif;

    color: $dark-gray;

    a {
        text-decoration: none;
    }
}

p {
    font-weight: 500;
}

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

button {
    cursor: pointer;

    &:hover {
        background: $darker-gray;
    }
}

body {
    background: $lighter-gray;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
    display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

html {
    &::-webkit-scrollbar {
        width: .6vw;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $dark-gray;
        border-radius: 5px;

        &:hover {
            background-color: $odd;
        }
    }

    &::-webkit-scrollbar-track {
        background-color: white;
    }
}

//! MOBILE MENU

.hamburger {
    position: relative;
    display: none;
    width: 50px;
    cursor: pointer;

    appearance: none;
    background: none !important;
    outline: none;
    border: none;
    box-shadow: none;

    & .bar, &::after, &::before {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: $dark-gray;
        margin: 6px 0;
        transition: 0.4s;
    }
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);;
}

.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    z-index: 30;
    background-color: white;
    margin-top: 60px;
    padding-top: 20px;
    transition: .4s;

    .admin {
        display: flex;
        flex-direction: column;

        button {
            box-shadow: none;
            background: none;
            font-weight: bold;
        }
    }

    .items {
        margin-top: 30px;
    }

    &.is-active {
        left: 0;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        max-width: 300px;
        margin: 0 auto 16px;

        font-size: 1.3rem;

        padding: 10px;
        background-color: $darker-gray;
        border-radius: 10px;

        color: $dark-gray;
        font-weight: bold;
        text-decoration: none;


        &:hover {
            background-color: white;
        }
    }
}

//! UNIQUE WRAPPER

.uniq-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .uniq-fields {
        background: white;
        padding: 30px;
        border-radius: 5px;

        display: flex;
        flex-direction: column;
        gap: 10px;

        .label-and-input {
            display: flex;
            align-items: center;

            label {
                display: flex;
                width: 150px;
            }

            select, input {
                border: none;
                padding: 5px;
                box-shadow: $dark-gray 0 0 1.5px;
                width: 500px;
            }
        }

        button.edit {
            border: none;
            box-shadow: $dark-gray 0 0 1.5px;

            width: 200px;
            padding: 5px;
            margin-top: 20px;
        }
    }
}

.even {
    padding: 40px 0;
    background: $even;

    .block-title {
        margin-bottom: 40px;
        color: $dark-gray;

        &:after {
            display: block;
            content: '';
            border-bottom: solid 3px $dark-gray;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
            transform-origin: 0 100%;
        }

        &:hover {
            &:after {
                transform: scaleX(1);
            }
        }
    }

    a {
        color: $dark-gray;
    }

    a:visited {
        color: $dark-gray;
    }

    .more {
        margin-top: 40px;

        &:after {
            display: block;
            content: '';
            border-bottom: solid 3px $dark-gray;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
            transform-origin: 0 100%;
        }

        &:hover {
            &:after {
                transform: scaleX(1);
            }
        }
    }
}

.odd {
    padding: 40px 0;
    background: $odd;

    .block-title {
        margin-bottom: 40px;

        &:after {
            display: block;
            content: '';
            border-bottom: solid 3px $lighter-gray;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
            transform-origin: 0 100%;
        }

        &:hover {
            &:after {
                transform: scaleX(1);
            }
        }
    }

    a {
        color: white;
    }

    a:visited {
        color: white;
    }


    h1,
    h2,
    h3,
    p,
    td {
        color: $lighter-gray;
    }

    .more {
        margin-top: 40px;

        &:after {
            display: block;
            content: '';
            border-bottom: solid 3px $lighter-gray;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
            transform-origin: 0 100%;
        }

        &:hover {
            &:after {
                transform: scaleX(1);
            }
        }
    }

    .paginator {
        display: flex;
        justify-content: flex-end;

        .pagination {
            span, a {
                color: $lighter-gray;
            }

            font-size: 1.5rem;
            font-weight: bold;

            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;

            list-style: none;

            li {
                &.disabled {
                    cursor: default;

                    a, span {
                        color: $light-gray;
                    }
                }

                &.disabled:hover {
                    text-shadow: none;
                }

                &.active {
                    text-shadow: white 0 0 15px;
                }

                &:hover {
                    text-shadow: white 0 0 15px;
                }
            }
        }
    }
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

//! FLASH MESSAGE

.flash-message {
    width: 100%;
    position: fixed;
    top: 60px;
    padding: 20px;
    background: $dark-gray;

    display: flex;
    align-items: center;
    justify-content: center;

    p {
        color: white;
        font-size: 1.5rem;
    }
}

header {
    position: sticky;
    z-index: 30;
    top: 0;
    width: 100%;

    //border-bottom: 1px solid $light-gray;
    background: white;

    nav {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            border: none;
            box-shadow: $dark-gray 0 0 1.5px;

            width: 100px;
            padding: 5px;
            cursor: pointer;
        }

        ul {
            display: flex;
            align-items: center;
            gap: 20px;

            list-style: none;

            li {
                a {
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
        }

        div.logo {
            line-height: 0;

            img {
                width: 140px;
            }
        }
    }
}

.great-purge {
    .uniq-fields {
        display: flex;
        flex-direction: row;
        gap: 20px;

        justify-content: space-around;
        flex-wrap: wrap;

        form {
            max-width: 322px;
            width: 100%;

            button {
                width: 100%;
            }
        }
    }

    button {
        border: none;
        box-shadow: $dark-gray 0 0 1.5px;
        padding: 15px;
    }
}

.admin-panel {
    .admin-options {
        display: flex;
        justify-content: space-evenly;

        gap: 50px;
        flex-wrap: wrap;

        .tool-wrapper {
            overflow: hidden;
            position: relative;

            &:hover {
                transition: 0.3s ease;
                background: white;
                border-radius: 10px;

                .icon {
                    transform: translateX(50px);
                    opacity: .1;
                }

                .title {
                    text-align: center;
                }
            }

            .tool {
                display: flex;
                align-items: center;

                height: 250px;
                width: 250px;
                padding: 20px;
            }

            .icon {
                transition: 0.3s ease;

                position: absolute;
                left: -25px;

                opacity: .2;

                width: 200px;
            }

            .title {
                font-size: 1rem;
                width: 210px;
            }
        }
    }
}

.release-date {
    display: flex;
    justify-content: space-between;
}

.admin-tools {
    display: flex;
    gap: 10px;
    flex-direction: row-reverse;

    button {
        cursor: pointer;
        border: none;
        background: none;

        & {
            i {
                font-size: 1.2rem;
                transition: all .2s ease;
                color: darkred;

                &:hover {
                    color: red;
                }
            }
        }
    }
}

//! views.admin.news-create & views.admin.advertisement-create

.news-create {
    display: flex;
    justify-content: space-evenly;

    flex-direction: column;

    gap: 20px;

    .form-fields {
        background: white;
        padding: 30px;
        border-radius: 5px;

        width: 100%;
        display: flex;
        gap: 20px;

        flex-direction: column;

        .label-and-input {
            display: flex;
            flex-direction: column;
            gap: 10px;

            input, textarea {
                border: none;
                box-shadow: $dark-gray 0 0 1.5px;
            }

            input {
                padding: 5px;
            }

            textarea {
                height: 300px;
                padding: 5px;
                resize: none;
            }
        }

        button.create {
            border: none;
            box-shadow: $dark-gray 0 0 1.5px;

            width: 200px;
            padding: 5px;
            margin-top: 20px;
        }

        .img {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}

//.auth-wrapper {
//    .auth-form {
//        display: flex;
//        align-items: center;
//        justify-content: center;
//
//        flex-direction: column;
//
//        gap: 20px;
//
//        h1 {
//            margin-bottom: 20px;
//        }
//
//        .input {
//            display: flex;
//            align-items: center;
//            justify-content: space-between;
//
//            padding: 20px;
//            background: $dark-gray;
//            width: 450px;
//
//            input {
//                padding: 10px;
//                height: 25px;
//                width: 300px;
//            }
//
//            label {
//                color: $lighter-gray;
//            }
//        }
//
//        button {
//            padding: 10px;
//        }
//    }
//}

.latest-news {
    justify-content: space-between;
    display: flex;
    gap: 40px;

    a {
        text-decoration: none;

        &:hover .content {
            background: white;
        }

        &:hover .img {
            transform: scale(1.1);
        }
    }

    .card {
        //box-shadow: $light-gray 0 0 10px;
        width: 400px;
        height: 563px;
        background: $darker-gray;

        display: flex;
        flex-direction: column;

        .img-wrapper {
            overflow: hidden;

            .img {
                transition: all .4s ease;

                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;

                height: 263px;
                width: 100%;
            }
        }

        .content {
            transition: all .4s ease;

            height: 300px;
            padding: 20px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title {
                height: 120px;
            }

            .text {
                height: 105px;

                p {
                    line-height: 1.5;
                }
            }
        }
    }
}


.advertisements {
    .listing {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;

        .content {
            width: 100%;
        }

        .arrow {
            height: 50px;

            img {
                width: 50px;
            }
        }

        &:hover h2, &:hover h3 {
            color: $light-gray;
        }
    }
}

.even {
    .advertisements {
        .listing {
            &:hover h2, &:hover h3 {
                color: $light-gray;
            }
        }
    }
}

footer {
    margin-top: auto;
    border-top: 1px solid $light-gray;

    .footer {
        p {
            line-height: 1.5;
        }

        .footer-title {
            margin-bottom: 40px;
        }

        .content {
            display: flex;
            justify-content: space-between;

            .item {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                text-align: center;

                .number {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                }

                p {
                    font-size: 18px;
                }

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    .copyright-logo-links {
        margin-top: 50px;

        display: flex;
        align-items: center;
        justify-content: space-between;

        text-align: center;

        .copyright {
            width: 400px;
        }

        .logo {
            width: 200px;
            line-height: 0;
        }

        .links {
            width: 400px;

            ul {
                list-style: none;
                font-weight: 500;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;

                    font-size: 1.2rem;

                    transition: all .03s ease;

                    & i {
                        font-size: 2rem;
                    }

                    &:hover i {
                        color: blue;
                    }

                    &:hover {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

//! views.admin.*-create

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .form-fields {
        background: white;
        padding: 30px;
        border-radius: 5px;

        display: flex;
        flex-direction: column;
        gap: 10px;

        .label-and-input {
            display: flex;
            align-items: center;

            label {
                display: flex;
                width: 150px;
            }

            select, input {
                border: none;
                padding: 5px;
                box-shadow: $dark-gray 0 0 1.5px;
                width: 500px;
            }
        }

        button {
            border: none;
            box-shadow: $dark-gray 0 0 1.5px;

            width: 200px;
            padding: 5px;
            margin-top: 20px;
        }
    }
}

//! views.news.index

.news {
    display: flex;
    flex-direction: column;
    gap: 30px;

    a {
        text-decoration: none;

        &:hover .card {
            background: white;
        }

        &:hover .img {
            transform: scale(1.1);
        }
    }

    .card {
        transition: all .4s ease;

        background: $darker-gray;

        display: flex;
        gap: 20px;
        width: 100%;

        .img-wrapper {
            overflow: hidden;
            width: 40%;

            .img {
                transition: all .4s ease;
                height: 100%;

                background-position: center !important;
                background-repeat: no-repeat !important;
                background-size: cover !important;
            }
        }

        .content {
            transition: all .4s ease;

            display: flex;
            flex-direction: column;
            gap: 20px;

            padding: 20px;
            width: 60%;

            .title {
                text-align: justify;
            }

            .text {
                line-height: 1.5;
                text-align: justify;
            }
        }
    }
}

//! views.news.show

.single-news {
    iframe {
        width: 100%;
        aspect-ratio: 16/9;
        height: 695px;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        a {
            font-weight: bold;
            text-decoration: underline;
        }

        .img {
            cursor: pointer;
            height: 322px;
            width: 100%;

            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .release-date {
            display: flex;
            justify-content: flex-end;
        }

        p {
            line-height: 1.5;
        }

        h2, p {
            text-align: justify;
        }
    }
}

//! views.news.edit

.single-news-edit {
    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        form {
            button.edit {
                border: none;
                box-shadow: $dark-gray 0 0 1.5px;

                width: 200px;
                padding: 5px;
                margin-top: 20px;
            }

            display: flex;
            flex-direction: column;
            gap: 20px;

            .name input,
            .text textarea {
                text-align: justify;
                margin-top: 20px;
            }

            input#news_name {
                padding: 10px;
                width: 100%;
            }

            textarea#news_text {
                padding: 10px;

                width: 100%;
                height: 400px;
                resize: none;
            }

            .img-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .img {
                    cursor: pointer;
                    height: 322px;
                    width: 100%;

                    background-position: center !important;
                    background-repeat: no-repeat !important;
                    background-size: cover !important;
                }

                .label-and-input {
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    gap: 20px;
                }
            }

            .release-date {
                display: flex;
                justify-content: flex-end;
            }

            p {
                line-height: 1.5;
            }
        }
    }
}

//! views.schedule.show

.schedule-and-substitution {
    .odd {
        padding: 0 !important;

        .container {
            padding: 0 10px;

            p, a {
                color: white;
            }

            a {
                text-decoration: underline;

                &:hover {
                    color: $darker-gray;
                }
            }

            .schedule-head, .substitution-head {
                box-shadow: white 0 0 1.5px;
                padding: 5px;
            }
        }
    }

    .extra-padding-for-odd {
        padding: 20px 0 !important;
    }

    .title {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 20px;
        gap: 20px;
    }

    .even, .odd {
        .container {
            display: flex;
            flex-direction: column;
            gap: 10px;

            overflow-x: auto;
        }
    }

    .schedule .even {
        padding-bottom: 50px;
    }

    .even {
        a {
            color: $dark-gray;
            text-decoration: underline;
        }

        padding: 10px;

        .schedule-head, .substitution-head {
            box-shadow: $dark-gray 0 0 1.5px;
            padding: 5px;
        }

        .container {
            background: white;
            padding: 10px;
            border-radius: 5px;
        }

    }

    .items {
        display: flex;
    }

    .schedule-items, .substitution-items, .schedule-head, .substitution-head {
        padding: 5px;

        .items {
            display: grid;
            grid-template-columns: 3fr 7fr 7fr 1fr 1.5fr;
        }
    }
}

//! views.admin.group-create

.groups-action {
    .odd {
        .container {
            padding: 1px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            max-height: 540px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: .4vw;
                height: .5vh;
            }

            &::-webkit-scrollbar-thumb {
                background-color: white;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: $odd;
            }

            .group-head {
                box-shadow: white 0 0 1.5px;
                padding: 5px;

                .items {
                    display: grid;
                    grid-template-columns: 1.2fr 4fr 4fr 4fr 1fr .1fr;
                }
            }

            .group-items {
                padding: 5px;

                .items {
                    display: grid;
                    grid-template-columns: 1.2fr 4fr 4fr 4fr 1fr .1fr;
                }
            }
        }
    }
}

//! views.admin.teacher-create

.teacher-action {
    .odd {
        .container {
            padding: 1px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            max-height: 540px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: .4vw;
                height: .5vh;
            }

            &::-webkit-scrollbar-thumb {
                background-color: white;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: $odd;
            }

            .teacher-head {
                box-shadow: white 0 0 1.5px;
                padding: 5px;

                .items {
                    display: grid;
                    grid-template-columns: 1.2fr 4fr 4fr 4fr 3fr 3fr 1fr .1fr;
                }
            }

            .teacher-items {
                padding: 5px;

                .items {
                    display: grid;
                    grid-template-columns: 1.2fr 4fr 4fr 4fr 3fr 3fr 1fr .1fr;
                }
            }
        }
    }
}

//! views.admin.subject-create

.subject-action {
    .odd {
        .container {
            padding: 1px;
            display: flex;
            flex-direction: column;
            gap: 10px;

            max-height: 540px;
            overflow: auto;

            &::-webkit-scrollbar {
                width: .4vw;
                height: .5vh;
            }

            &::-webkit-scrollbar-thumb {
                background-color: white;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: $odd;
            }

            .subject-head {
                box-shadow: white 0 0 1.5px;
                padding: 5px;

                .items {
                    display: grid;
                    grid-template-columns: .5fr 4fr 1.5fr 1.5fr .5fr .1fr;
                }
            }

            .subject-items {
                padding: 5px;

                .items {
                    display: grid;
                    grid-template-columns: .5fr 4fr 1.5fr 1.5fr .5fr .1fr;
                }
            }
        }
    }
}


//! views.teacher.show

.teacher-schedule-and-substitution {
    .odd {
        padding: 0 !important;

        .container {
            padding: 0 10px;

            p, a {
                color: white;
            }

            a {
                &:hover {
                    color: $darker-gray;
                }
            }

            .schedule-head, .substitution-head {
                box-shadow: white 0 0 1.5px;
                padding: 5px;
            }

            overflow: auto;
        }
    }

    .extra-padding-for-odd {
        padding: 20px 0 !important;
    }

    .title {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;

        h2 {
            text-align: center;
        }
    }

    .even, .odd {
        .container {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    .schedule .even {
        padding-bottom: 50px;
    }

    .even {
        padding: 10px;

        .schedule-head, .substitution-head {
            box-shadow: $dark-gray 0 0 1.5px;
            padding: 5px;
        }

        .container {
            background: white;
            padding: 10px;
            border-radius: 5px;

            overflow: auto;
        }
    }

    .substitution-items, .substitution-head {
        padding: 5px;

        .items {
            display: grid;
            grid-template-columns: 1.8fr 1.3fr 1.5fr 2.5fr 7fr 1fr 1fr;
        }
    }

    .schedule-items, .schedule-head {
        padding: 5px;

        .items {
            display: grid;
            grid-template-columns: 1.8fr 1.3fr 1.5fr 2.5fr 2fr 5fr 1fr 1fr;
        }
    }
}

@media (max-width: 1400px) {
    .container {
        max-width: 95%;
    }

    .latest-news {
        .card {
            width: 100%;
        }
    }
}

@media (max-width: 1200px) {
    .latest-news {
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    .groups-action {
        .odd {
            .container {
                padding: 0 20px;
                display: grid;
            }
        }

        .group-head {
            margin-top: 1px;

            .items {
                display: flex;

                .item {
                    width: 250px;

                    &:nth-child(1) {
                        width: 75px;
                    }

                    &:nth-child(2) {
                        width: 350px;
                    }
                }
            }
        }

        .group-items {
            .items {
                display: flex;

                .item {
                    width: 250px;

                    &:nth-child(1) {
                        width: 75px;
                    }

                    &:nth-child(2) {
                        width: 350px;
                    }

                    &:last-child {
                        width: 0;
                    }
                }
            }
        }
    }

    .subject-action {
        .odd {
            .container {
                padding: 0 20px;
                display: grid;
            }
        }

        .subject-head {
            margin-top: 1px;

            .items {
                display: flex;

                .item {
                    width: 250px;

                    &:nth-child(1) {
                        width: 50px;
                    }

                    &:nth-child(2) {
                        width: 400px;
                    }
                }
            }
        }

        .subject-items {
            .items {
                display: flex;

                .item {
                    width: 250px;

                    &:nth-child(1) {
                        width: 50px;
                    }

                    &:nth-child(2) {
                        width: 400px;
                    }

                    &:last-child {
                        width: 0;
                    }
                }
            }
        }
    }

    .teacher-action {
        .odd {
            .container {
                padding: 0 20px;
                display: grid;
            }
        }

        .teacher-head {
            margin-top: 1px;

            .items {
                display: flex;

                .item {
                    width: 250px;

                    &:nth-child(1) {
                        width: 50px;
                    }
                }
            }
        }

        .teacher-items {
            .items {
                display: flex;

                .item {
                    width: 250px;

                    &:nth-child(1) {
                        width: 50px;
                    }

                    &:last-child {
                        width: 0;
                    }
                }
            }
        }
    }

    .teacher-schedule-and-substitution {
        .odd {
            .container {
                padding: 0 20px;
            }
        }

        .schedule .container, .substitution .container {
            display: grid;

            .substitution-head {
                .items {
                    display: flex;

                    .item {
                        width: 250px;

                        &:nth-child(1) {
                            width: 50px;
                        }

                        &:nth-child(2) {
                            width: 140px;
                        }

                        &:nth-child(3) {
                            width: 140px;
                        }

                        &:nth-child(4) {
                            width: 200px;
                        }

                        &:nth-child(5) {
                            width: 350px;
                        }

                        &:nth-child(6) {
                            width: 100px;
                        }

                    }
                }
            }

            .substitution-items {
                .items {
                    display: flex;

                    .item {
                        width: 250px;

                        &:nth-child(1) {
                            width: 50px;
                        }

                        &:nth-child(2) {
                            width: 140px;
                        }

                        &:nth-child(3) {
                            width: 140px;
                        }

                        &:nth-child(4) {
                            width: 200px;
                        }

                        &:nth-child(5) {
                            width: 350px;
                        }

                        &:nth-child(6) {
                            width: 100px;
                        }

                        &:last-child {
                            width: 0;
                        }
                    }
                }
            }

            .schedule-head {
                .items {
                    display: flex;

                    .item {
                        width: 250px;

                        &:nth-child(1) {
                            width: 150px;
                        }

                        &:nth-child(2) {
                            width: 120px;
                        }

                        &:nth-child(3) {
                            width: 120px;
                        }

                        &:nth-child(4) {
                            width: 200px;
                        }

                        &:nth-child(5) {
                            width: 150px;
                        }

                        &:nth-child(6) {
                            width: 350px;
                        }

                        &:nth-child(7) {
                            width: 100px;
                        }
                    }
                }
            }

            .schedule-items {
                .items {
                    display: flex;

                    .item {
                        width: 250px;

                        &:nth-child(1) {
                            width: 150px;
                        }

                        &:nth-child(2) {
                            width: 120px;
                        }

                        &:nth-child(3) {
                            width: 120px;
                        }

                        &:nth-child(4) {
                            width: 200px;
                        }

                        &:nth-child(5) {
                            width: 150px;
                        }

                        &:nth-child(6) {
                            width: 350px;
                        }

                        &:nth-child(7) {
                            width: 100px;
                        }

                        &:last-child {
                            width: 0;
                        }
                    }
                }
            }
        }
    }

    .schedule-and-substitution {
        .odd {
            .container {
                padding: 0 20px;
            }
        }

        .substitution-head {
            .items {
                display: flex;

                .item {
                    width: 250px;

                    &:nth-child(1) {
                        width: 50px;
                    }

                    &:nth-child(2) {
                        width: 350px;
                    }

                    &:nth-child(3) {
                        width: 350px;
                    }

                    &:nth-child(4) {
                        width: 100px;
                    }
                }
            }
        }

        .substitution-items {
            .items {
                display: flex;

                .item {
                    width: 250px;

                    &:nth-child(1) {
                        width: 50px;
                    }

                    &:nth-child(2) {
                        width: 350px;
                    }

                    &:nth-child(3) {
                        width: 350px;
                    }

                    &:nth-child(4) {
                        width: 100px;
                    }

                    &:last-child {
                        width: 0;
                    }
                }
            }
        }

        .schedule .container, .substitution .container {
            display: grid;

            .schedule-head {
                .items {
                    display: flex;

                    .item {
                        width: 250px;

                        &:nth-child(1) {
                            width: 150px;
                        }

                        &:nth-child(2) {
                            width: 350px;
                        }

                        &:nth-child(3) {
                            width: 350px;
                        }

                        &:nth-child(4) {
                            width: 100px;
                        }
                    }
                }
            }

            .schedule-items {
                .items {
                    display: flex;

                    .item {
                        width: 250px;

                        &:nth-child(1) {
                            width: 150px;
                        }

                        &:nth-child(2) {
                            width: 350px;
                        }

                        &:nth-child(3) {
                            width: 350px;
                        }

                        &:nth-child(4) {
                            width: 100px;
                        }

                        &:last-child {
                            width: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    nav {
        ul {
            display: none !important;
        }
    }

    nav.paginator {
        ul.pagination {
            display: flex !important;
        }
    }

    .footer {
        .content {
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }

        .copyright-logo-links {
            flex-direction: column;
            align-items: center;
            gap: 50px;

            .copyright {
                width: 95%;
            }

            .links {
                width: 200px;
            }
        }
    }

    .form-wrapper {
        .form-fields {
            gap: 20px;

            .label-and-input {
                flex-direction: column;
                gap: 10px;

                label, select, input {
                    width: 100%;
                }
            }
        }
    }

    .tool-wrapper {
        .icon, {
            transition: 0.3s ease;

            left: 25px !important;
            transform: none !important;

            opacity: .2;

            width: 200px;
        }

        .title {
            h2 {
                text-align: center;
            }
        }

        &:hover {
            transition: 0.3s ease;
            background: white;
            border-radius: 10px;
        }
    }
}

@media (max-width: 576px) {
    .latest-news {
        .card {
            width: 100%;
        }
    }

    .news {
        .card {
            flex-direction: column;

            .img-wrapper {
                height: 200px;
                width: 100%;
            }

            .content {
                width: 100%;
            }
        }
    }
}
